
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  padding: 20px;
  color: rgb(61, 61, 61);
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px gray;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 700px;
}

.medIcon {
  font-size: 80px;
  margin: 10px 50px;
  color: rgb(61, 61, 61);
  text-shadow: 3px 3px 5px gray;
  font-family: 'Material Symbols Outlined'
}

.smallIcon {
  font-size: 40px;
  margin: 10px 10px;
  color: rgb(61, 61, 61);
  text-shadow: 3px 3px 5px gray;
  font-family: 'Material Symbols Outlined'
}

.friendContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px gray;
  width: 800px;
  background-color: lightgray;
  margin: 5px auto;
}

.nameContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 450px;
  font-family: 'Varela Round', sans-serif;
  font-size: 40px;
  text-align: left;
  color: rgb(61, 61, 61);
  padding-left: 30px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
