.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.largeIcon {
  font-size: 60px;
  margin: auto;
  color: rgb(61, 61, 61);
  text-shadow: 3px 3px 5px rgba(128, 128, 128, 0.329);
  font-family: 'Material Symbols Outlined';
}

.medIcon {
  font-size: 80px;
  margin: 10px 50px;
  color: rgb(61, 61, 61);
  text-shadow: 3px 3px 5px gray;
  font-family: 'Material Symbols Outlined';
}

.mainTitle {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  padding: 20px;
  color: rgb(61, 61, 61);
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px gray;
}

.subTitle {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  padding: 5px;
  color: rgb(61, 61, 61);
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px gray;
  margin: 0;
  line-height: 0;
  display: flex;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
