* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(184, 156, 156);
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
  visibility: hidden !important;
}
a {
  text-decoration: auto;
}
